@font-face {
    font-family: 'Helvetica Neue Black Condensed';
    src: url('@/assets/fonts/HelveticaNeueBlackCondensed.eot');
    src: url('@/assets/fonts/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
    url('@/assets/fonts/HelveticaNeueBlackCondensed.woff') format('woff'),
    url('@/assets/fonts/HelveticaNeueBlackCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* White Theme */
:root {
    /* White theme */
    --color-primary: #1F1F1F;
    --color-secondary: #D94B4B;
    --color-background: #FFFFFF;
    --color-surface: #F0F0F0;
    --color-accent: #49A399;
    --color-link: #00819D;
    --color-text: #B0B0B0;
    --color-divider: #F1F1F1;
    --color-gray-1: #DADADA;
    --color-gray-2: #D9D9D9;
    --color-gray-3: #EAEAEA;
    --color-gray-4: #818181;

    /* Black theme */
    --color-primary-dark: #FFFFFF;
    --color-secondary-dark: #D94B4B;
    --color-background-dark: #1F1F1F;
    --color-surface-dark: #434953;
    --color-accent-dark: #49A399;
    --color-link-dark: #00819D;
    --color-text-dark: #8F99A8;
    --color-divider-dark: #0E0E0F;
    --color-gray-1-dark: #27292D;
    --color-gray-2-dark: #2D2F34;
    --color-gray-3-dark: #434953;
    --color-gray-4-dark: #434953;

    --tablet-width: 768px;
    --desktop-width: 1200px;
}

/* Font sizes */
.main-heading {
    font-size: 24px;
}

.subhead {
    font-size: 20px;
    margin: 0;
}

.title {
    font-size: 18px;
    margin: 0;
}

.text-1 {
    font-size: 16px;
    margin: 0;
}

.text-2 {
    font-size: 14px;
}

.errors {
    font-size: 12px;
}

/* Font weights */
.light {
    font-weight: 300;
}

.roman {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}


.link {
    color: #00819D;
    text-decoration: none;
}

.link:hover {
    color: #49A399;
    transition: 0.3s;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

img {
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Helvetica Neue Black Condensed', Arial, sans-serif;
}

.page__body {
    margin: 0;
    background-color: #F1F1F1;
}