@font-face {
    font-family: 'Helvetica Neue Black Condensed';
    src: url('@/assets/fonts/HelveticaNeueBlackCondensed.eot');
    src: url('@/assets/fonts/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
    url('@/assets/fonts/HelveticaNeueBlackCondensed.woff') format('woff'),
    url('@/assets/fonts/HelveticaNeueBlackCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --base-black: #000;
    --base-white: #fff;
    --base-primary: #49A399;

    --tablet-width: 768px;
    --desktop-width: 1200px;
}

.main-heading {
    font-size: 24px;
}

.subhead {
    font-size: 20px;
}

.text-1 {
    font-size: 16px;
}

.text-2 {
    font-size: 14px;
}

.title {
    font-size: 18px;
}

.errors {
    font-size: 12px;
}

.active-link {
    color: #00819D;
}

.active-link:hover {
    color: #49A399;
    transition: 0.2s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

img {
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Helvetica Neue Black Condensed', Arial, sans-serif;
}

.page__body {
    margin: 0;
    background-color: #F1F1F1;
}

.auth-title {
    font-size: 34px;
    width: 95%;
    font-weight: 550;
}